body {
    background-color: gray;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    border: 25px;
    border-color: aliceblue;
}